.box_error {
    color: var(--add_color_3);
    background-color: var(--add_color_1);
    width: 40%;
    max-width: max-content;
    margin: 0 auto;
    padding: 10px;
    border: 2px solid var(--add_color_3);
    text-wrap: none ;
    border-radius: 12px;
  }

footer {
    width: 100%;
    height: 3rem;
    padding:10px 20px;
    /* margin-top: 20px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: var(--add_color_3);
    color: var(--add_color_1);
    border-radius: 12px 12px 0 0;
    position: absolute;
    bottom: 0;
}


@media only screen and (max-width: 600px) {
  .box_error{
    margin-top:50%;
    font-size: 1.5rem;
  }
}