input {
    border: 1px solid var(--main_color);
    display: block;
    max-width: 320px;
    height: 45px;
    padding: 0 10px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  
  form button {
    margin-left: auto;
    margin-right: auto;
    background-color: var(--main_color);
    color: var(--white);
  }
  
  h1 {
    text-align: center;
    color:var(--text_color);
  }

  #failed_login_message{
    text-align: center;
    top:0;
    color:var(--text_color_add);
  }

  footer {
    width: 100%;
    height: 3rem;
    padding:10px 20px;
    /* margin-top: 20px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: var(--add_color_3);
    color: var(--add_color_1);
    border-radius: 12px 12px 0 0;
    position: absolute;
    bottom: 0;
}
  